In [2]:
#swapping variables
a= int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Before swapping: a =", a, "b =", b)


temp = a
a = b
b = temp

print("After swapping: a =", a, "b =", b)

Before swapping: a = 25 b = 30
After swapping: a = 30 b = 25

In [4]:
#simple calculator (no conditions)
num1 = input("Enter first number: ")
op = input("Enter operator (+, -, *, /): ")
num2 = input("Enter second number: ")

expression = num1 + op + num2
result = eval(expression)
print("Result:", result)

Result: 9000

In [ ]:
#type conversion
num_str = input("Enter a number:")

num_int = int(num_str)
num_float = float(num_str)

print(num_int, type(num_int))
print(num_float, type(num_float))

14 <class 'int'>
14.0 <class 'float'>

In [7]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b**2 - 4*a*c
root1 = (-b + complex(d)**0.5) / (2*a)
root2 = (-b - complex(d)**0.5) / (2*a)

print("Root 1:", root1)
print("Root 2:", root2)

Root 1: (-0.01999999999999999+0.19899748742132398j)
Root 2: (-0.020000000000000014-0.19899748742132398j)

In [9]:
#custom data type format
name = input("Enter name: ")
age = int(input("Enter age: "))
height = float(input("Enter height in cm: "))

print(f"Name: {name}, Age: {age} years, Height: {height} cm")

Name: shannu, Age: 21 years, Height: 150.0 cm

In [10]:
#complex expression evaluation
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

result = ((num1 + num2) * num3) / (num1 - num2)
print("Result:", round(result, 2))

Result: 29.81

In [1]:
#sum of two numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum_result = num1 + num2
print("Sum:", sum_result)

Sum: 50.0

In [7]:
#upper case string
text = input("Enter a string: ")
print("Uppercase:", text.upper())

Uppercase: HELLO

In [9]:
#square of a number
num = float(input("Enter a number: "))
square = num ** 2
print("Square:", square)

Square: 250000.0

In [26]:
#String Concatenation
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

result = str1 + str2
print("Concatenated String:", result)

Concatenated String: alluarjun

In [42]:
 #Float to Integer Conversion
num = float(input("Enter a float number: "))
print("Integer equivalent:", int(num))

Integer equivalent: 3

In [57]:
# Age Display
age = int(input("Enter your age: "))
print(f"You are {age} years old")

You are 21 years old

In [71]:
# Product of Two Numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
product = num1 * num2
print("Product:", product)

Product: 60

In [84]:
#String Length
sentence = input("Enter a sentence: ")
print("Length of the sentence:", len(sentence))

Length of the sentence: 12

In [96]:
#Average of Three Numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

average = (num1 + num2 + num3) / 3
print("Average of three numbers:", average)

Average of three numbers: 30.333333333333332

In [107]:
#Absolute Value
num = float(input("Enter a number: "))
print("Absolute value:", abs(num))

Absolute value: 26.0

In [117]:
# Difference of Two Numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Difference:", num1 - num2)

Difference: 31.0

In [126]:
# String Reversal
text = input("Enter a string: ")
print("Reversed string:", text[::-1])

Reversed string: ihur

In [134]:
# Height Conversion
height_cm = float(input("Enter height in cm: "))
height_m = height_cm / 100
print("Height in meters:", height_m)

Height in meters: 0.0212

In [141]:
#Quotient of Two Numbers
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Quotient:", num1 / num2)

Quotient: 1.0

In [147]:
#Quoted Name
name = input("Enter your name: ")
print(f'"{name}"')

"ruhi"

In [152]:
#Formatted Number
num = float(input("Enter a number: "))
print("Formatted number:", round(num, 2))

Formatted number: 12.0

In [156]:
#String Separation

str1 = input("Enter first string: ")
str2 = input("Enter second string: ")

print(f"{str1} {str2}")

shaik ruhi

In [161]:
#Type of Input
value = input("Enter something: ")
print("Type of input:", type(value))

Type of input: <class 'str'>

In [168]:
#Sum and Product
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

sum_result = num1 + num2 + num3
product_result = num1 * num2 * num