In [6]:
#swipping variables
a = 10
b = 20

temp = a
a = b
b = temp

print("a =", a)
print("b =", b)

a = 20
b = 10

In [7]:
#simple calculator
num1 = input("Enter first number: ")
operator = input("Enter operator (+, -, *, /): ")
num2 = input("Enter second number: ")

expression = num1 + operator + num2

result = eval(expression)

print("Result:", result)

Result: 90

In [ ]:
#
num_str = input("Enter a number: ")

num_int = int(num_str)
num_float = float(num_str)

print(num_int, type(num_int))
print(num_float, type(num_float))

2 <class 'int'>
2.0 <class 'float'>

In [4]:
books=[]
#adding one item at a time
books.append("the way of king")
print(books)
books.append("the final empire")
books.append("steelheart")
books.append("legion")
print(books)

['the way of king']
['the way of king', 'the final empire', 'steelheart', 'legion']

In [ ]:
colors=['red','green','blue']
colors.extend(['yellow','black'])
print(colors)
colors2=["puple","pink","yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black']
['red', 'green', 'blue', 'yellow', 'black', 'puple', 'pink', 'yellow']

In [13]:
a=[]
for i in range(1,11):
    a.append(i)
    print(a)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
movies[]
for i in range(5):
    value=input("enter your five movies")

In [20]:
x=[1,5,10]
x.insert(1,2)
print(x)
x.insert(2,3)
x.insert(4,9)
print(x)

[1, 2, 5, 10]
[1, 2, 3, 5, 9, 10]

- Adding elements
1. append () -> add one element to the end of the list
2. insert () -> add one element to a specific  position
3. extend () -> append multiple items in a list

- removing elements
1. remove () -> remove the first occurance of a value
2. pop () -> remove and return an element from an Index
3. clear () -> remove all elements from the list

In [ ]:
books=['Here of ages','Well of Acsension','War breaker','Nightblood','The final empire','The way of kinds','harrypotter','Wind and truth','King of thrones','Oathbringer','New moon','goblet of fire']
books.remove("New moon")
print(books)

['Here of ages', 'Well of Acsension', 'War breaker', 'Nightblood', 'The final empire', 'The way of kinds', 'harrypotter', 'Wind and truth', 'King of thrones', 'oathbringer', 'goblet of fire']

In [11]:
#validation based removal
if "Oathbringer" in books:
    books.remove("Oathbringer")
print(books)

['Here of ages', 'Well of Acsension', 'War breaker', 'Nightblood', 'The final empire', 'The way of kinds', 'harrypotter', 'Wind and truth', 'King of thrones', 'oathbringer', 'goblet of fire']

In [12]:
books.pop(3)

'Nightblood'

In [14]:
books.pop(4)

'harrypotter'

In [15]:
# pop()without any index will remove the lasts element
books.pop()

'goblet of fire'

In [16]:
books.clear()

In [19]:
languages=['C','Python','Kotlin','Java','Dart','Go','C++','C#','Html','Javascript','Scale','Rust','Mojo','Assembly']
numbers=[12,56,23,67,13,
         23,12,56,23,56,
         12,34,23,23,12,
         34,34,23,53,92]
data=[1,'Apple',2,'Avacado',3,'Apricot']

In [ ]:
numbers.count(12) #count hoe many times 12 occurs in list

In [20]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [ ]:
print(languages.index("C"))
print(languages.index("Java"))
print(languages.index("Python"))
#print(languages.index("lisp")) #will give error

0
3
1

In [25]:
print("Original",languages)
languages.sort()       #sort inplace
print("sorted",languages)

Original ['Scale', 'Rust', 'Python', 'Mojo', 'Kotlin', 'Javascript', 'Java', 'Html', 'Go', 'Dart', 'C++', 'C#', 'C', 'Assembly']
sorted ['Assembly', 'C', 'C#', 'C++', 'Dart', 'Go', 'Html', 'Java', 'Javascript', 'Kotlin', 'Mojo', 'Python', 'Rust', 'Scale']

In [27]:
print("Original",data)
data.reverse()
print("reversed",data)

Original [1, 'Apple', 2, 'Avacado', 3, 'Apricot']
reversed ['Apricot', 3, 'Avacado', 2, 'Apple', 1]

In [1]:
x=[1,2,3,4]
y=x
z=x.copy()
print(x,y,z,sep='/n')
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x,y,z,sep='/n')

[1, 2, 3, 4]/n[1, 2, 3, 4]/n[1, 2, 3, 4]
[1, 2, 3, 4]/n[1, 2, 3, 4]/n[1, 2, 3, 4, 10, 20]

In [3]:
fruits=["mango","apple","banana","grapes","custard apple","pineapple","dragon","watermelon"]
series=["money heist","squid games","game of thrones","mirzapur","indoor ishq","stranger things","vampira dairies","house of the dragon"]
veg=["tomato","brinjal","carrot","raddish","bettroot","ladies finger","onion","ladies finger","chilli","drumstcks"]
biglist=fruits+series+veg
print(biglist)

['mango', 'apple', 'banana', 'grapes', 'custard apple', 'pineapple', 'dragon', 'watermelon', 'money heist', 'squid games', 'game of thrones', 'mirzapur', 'indoor ishq', 'stranger things', 'vampira dairies', 'house of the dragon', 'tomato', 'brinjal', 'carrot', 'raddish', 'bettroot', 'ladies finger', 'onion', 'ladies finger', 'chilli', 'drumstcks']

Nested list

In [6]:
# list with a list
x=[]
x2=[[]]
print(x)
print(x2)

[]
[[]]

In [7]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [8]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [ ]:
items=[
    ['red','green','blue'],
    ['apple','guava','blueberry'],
    [150,100.300]
]
print(items)  
print("size of list",len(items))
print("size of list at index 0 is", len(items[0]),"=>", items[0])
print("size of list at index 0 is", len(items[1]),"=>", items[1])
print("size of list at index 0 is", len(items[2]),"=>", items[2])
print("Elements o as list o is",items[0][0])
print("Elements o as list o is",items[1][2])
print("Elements o as list o is",items[1][0])
print("Elements o as list o is",items[1][1])

[['red', 'green', 'blue'], ['apple', 'guava', 'blueberry'], [150, 100.3]]
size of list 3
size of list at index 0 is 3 => ['red', 'green', 'blue']
size of list at index 0 is 3 => ['apple', 'guava', 'blueberry']
size of list at index 0 is 2 => [150, 100.3]
Elements o as list o is red
Elements o as list o is blueberry
Elements o as list o is apple
Elements o as list o is guava

In [16]:
matrix=[[12,23,45,25],[85,95,25,15],[30,32,35,5]]
print(matrix)
print("size of list",len(items))
print("size of list at index 0 is", len(matrix[0]),"=>", matrix[0])
print("size of list at index 0 is", len(matrix[1]),"=>", matrix[1])
print("size of list at index 0 is", len(matrix[2]),"=>", matrix[2])
print("Elements o as list o is",matrix[0][0])
print("Elements o as list o is",matrix[1][2])
print("Elements o as list o is",matrix[1][0])
print("Elements o as list o is",matrix[1][1])

[[12, 23, 45, 25], [85, 95, 25, 15], [30, 32, 35, 5]]
size of list 3
size of list at index 0 is 4 => [12, 23, 45, 25]
size of list at index 0 is 4 => [85, 95, 25, 15]
size of list at index 0 is 4 => [30, 32, 35, 5]
Elements o as list o is 12
Elements o as list o is 25
Elements o as list o is 85
Elements o as list o is 95

In [17]:
#Nested .loop.far nested list
for row in matrix:
    for val in row:
        print(val,end=' ')

12 23 45 25 85 95 25 15 30 32 35 5

In [22]:
#nested loop for nested list
for row in  matrix:
    for val in row:
        print(val,end=' ')
    print( )

12 23 45 25
85 95 25 15
30 32 35 5

In [23]:
total=0
for row in matrix:
    for val in row:
        total+=val
print(total)

427

In [24]:
total=1
for row in matrix:
    for val in row:
        total*=val
print(total)

157959112500000000

In [27]:
for row in matrix:
    total=0
    for value in row:
        total += value
    print(row,'=>',total)

[12, 23, 45, 25] => 105
[85, 95, 25, 15] => 220
[30, 32, 35, 5] => 102

In [36]:
for row in matrix:
    total=0
    for value in row:
        total += value
    avg=round(total/len(row),1)
    print(row, '=>', avg)

[12, 23, 45, 25] => 26.2
[85, 95, 25, 15] => 55.0
[30, 32, 35, 5] => 25.5

In [47]:
# wap to print column wise sum of matrix
size=len(matrix[0])
for c in range (size):
    total=0
    for r in range (len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total}")

column 0 => 127
column 1 => 150
column 2 => 105
column 3 => 45

In [3]:
#wap to print the lower bound triangle of a matrixm
mat2=  [ 
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,151,16]
]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        print(mat2[r][c], end=" " )
    print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 151 16

In [ ]:
#slicing
x=[11,12,13,15,19]
x[0:3]
x[2:5]

[13, 15, 19]

In [5]:
x=[11,12,13,15,19]
x[2:len(x)]

[13, 15, 19]

In [16]:
x=['e','d','u','c','a','t','i','o','n']
x[3:6]

['c', 'a', 't']

In [17]:
x=['e','d','u','c','a','t','i','o','n']
x[-5:-3]

['a', 't']

In [26]:
#slicing syntax
name ="william shakespeare"
name[8:-6]

'shake'

In [27]:
name="william shakespeare"
len(name)

19

In [30]:
name='william shakespeare'
name[3:7]

'liam'

In [36]:

name="william shakespeare"
name[-5:]

'peare'

In [37]:
name="william shakespeare"
name[:7]

'william'

In [ ]:
#even number slicing
name="shaik ruhi"
name[: : 2]

'sakrh'

In [45]:
name="shaik ruhi"
name[1::2]

'hi ui'

In [13]:
name="vijay deenanath chauhan"
fname[:5]

'vijay'

In [3]:
name="vijay deenanath chauhan"
name[5:9]

' dee'

In [21]:
#reverse print element
x=[1,2,3,4,6,7,9,11,13]
for item in x[: : -1]:
    print(item)

13
11
9
7
6
4
3
2
1

In [ ]:
#reverse a list in place
a=[1,2,3]
a[:]  #get all element
a[:]=a[::-1]

In [36]:
#rotate list
x=[1,2,3,4,5]
ans=x[2:]+x[:2]
print(x,ans)

[1, 2, 3, 4, 5] [3, 4, 5, 1, 2]

In [42]:
#comprehension
x=[1,3,4,5]
x2=[]
for i in x:
    s=i*2
    x2.append(s)
print(x,x2)

[1, 3, 4, 5] [2, 6, 8, 10]

In [43]:
x=[4,8,12,16]
x3=[]
for i in x:
    x3.append(i//2)
print(x,x3)

[4, 8, 12, 16] [2, 4, 6, 8]

In [44]:
x=[1,2,3]
y=[4,5,6]
xy=[]
for i,j in zip(x,y):
    xy.append(i+j)
print(x,y,xy,sep="/h")

[1, 2, 3]/h[4, 5, 6]/h[5, 7, 9]

In [50]:
z=[2,3,4]
zsqr=[]
for i in z:
    zsqr.append(i**2)
print(z,zsqr)

[2, 3, 4] [4, 9, 16]

In [54]:
y=[1,2,3]
y2=[i*2 for i in y]
print(y,y2)

[1, 2, 3] [2, 4, 6]

In [2]:
movies=['Bahubali','The conclusion','RRR','KGF:chapter 1','KGF :chapter 2','Kalki','Sankrantri']
movies_caps=[]
for movie in movies:
    name=movie.upper()
    movies_caps.append(name)
print(movies)
print(movies_caps)

['Bahubali', 'The conclusion', 'RRR', 'KGF:chapter 1', 'KGF :chapter 2', 'Kalki', 'Sankrantri']
['BAHUBALI', 'THE CONCLUSION', 'RRR', 'KGF:CHAPTER 1', 'KGF :CHAPTER 2', 'KALKI', 'SANKRANTRI']

In [3]:
movies_caps=[movie.upper() for movie in movies]
print(movies)
print(movies_caps)

['Bahubali', 'The conclusion', 'RRR', 'KGF:chapter 1', 'KGF :chapter 2', 'Kalki', 'Sankrantri']
['BAHUBALI', 'THE CONCLUSION', 'RRR', 'KGF:CHAPTER 1', 'KGF :CHAPTER 2', 'KALKI', 'SANKRANTRI']

In [24]:
my_tuple=(1,'hello',3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [25]:
my_tuple=('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [28]:
n_tuple=("mouse",[8,4,6],[1,2,3])
print(n_tuple[0][2])
print(n_tuple[1][1])

u
4

In [31]:
my_tuple=('e','x','c','a','1''i','b','u','r')
print(my_tuple[1:4])

('x', 'c', 'a')

In [35]:
print(my_tuple[:-7])

('e',)

In [34]:
print(my_tuple[7:])

('r',)

In [37]:
print(my_tuple[:])

('e', 'x', 'c', 'a', '1i', 'b', 'u', 'r')

In [41]:

print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [43]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [44]:
my_tuple=('a','p','p','1','e')
print(my_tuple.count('p'))
print(my_tuple.index('1'))

2
3

In [1]:
x=10
print(type(x))

<class 'int'>

In [1]:
x=10
x="ten"
print(type(x))

<class 'str'>

In [2]:
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
7
30
3.3333333333333335

In [4]:
x=5
x+=5
print(x)

10

In [5]:
age=18
if age>=18:
    print("you are adults")

you are adults

In [8]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
    # Using range()
for i in range(5):
    print(i)

apple
banana
cherry
0
1
2
3
4

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

# continue example
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

# pass example
for i in range(5):
    if i == 2:
        pass  # Do nothing
    print(i)

0
1
2
3
4
1
3
5
7
9
0
1
2
3
4

In [ ]:
#string creation
a='apple'
b="banana"
c='"this is chocolate cake"'
#type capting
x=str(10)
y=str(["apple","banana"])
print(x,type(x))
print(y,type(y))

10 <class 'str'>
['apple', 'banana'] <class 'str'>

In [1]:
'''johny johny yes papa
eating sugar no papa
telling lies no papa
open your mouth ha ha ha!'''

'johny johny yes papa\neating sugar no papa\ntelling lies no papa\nopen your mouth ha ha ha!'

In [2]:
#string function
s="mainatin silence in library"
supper=s.upper()
print(s)
print(super)

mainatin silence in library
<class 'super'>

In [11]:
s="MAINTAIN SILENCE IN LIBRARY"
lower=s.lower()
print(s)
print(lower)

MAINTAIN SILENCE IN LIBRARY
maintain silence in library

In [4]:
s="maintain silence in library"
capitalize=s.capitalize()
print(s)
print(capitalize)

maintain silence in library
Maintain silence in library

In [5]:
s="maintain silence in library"
title=s.title()
print(s)
print(title)

maintain silence in library
Maintain Silence In Library

In [13]:
s="MAINTAN SILENCE IN LIBRARY"
swapcase=s.swapcase()
print(s)
print(swapcase)

MAINTAN SILENCE IN LIBRARY
maintan silence in library

In [12]:
s="MAINTAIN SILENCE IN LIBRARY"
casefold=s.casefold()
print(s)
print(casefold)

MAINTAIN SILENCE IN LIBRARY
maintain silence in library

In [15]:
a="seven"
a1= a.ljust(10)
print(a)
print(a1)

seven
seven

In [17]:
a2=a.ljust(10,'-')
print(a2)

seven-----

In [18]:
a3=a.rjust(20)
print(a3)

               seven

In [28]:
a4=a.rjust(20,"l")
print(a4)

lllllllllllllllseven

In [31]:
a5=a.center(13)
print(a5)

    seven

In [23]:
a6=a.center(13,'*')
print(a6)

****seven****

In [30]:
print(a3,a4,a5,a6,sep='\n')

               seven
lllllllllllllllseven
    seven
****seven****

In [34]:
#validation
x=input("enter the input,")
print(x.isalpha())

True

In [35]:
print(x.isalnum())

True

In [36]:
print(x.isdigit())

False

In [37]:
print(x.isspace())

False

In [ ]:
a=input()
a1=a.stanstwith("a")

In [1]:
num=0
print(num)
print(10)

0
10

In [ ]:

#creating a dictionary
d={}#empty dictionary
print(d)
print(type(d))
d2={}
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>

In [8]:
d3={
    'color':'orange',
    'shape' : 'circle',
    'size':'2 meter',
    'material':'plastic'
}
print(d3)

{'color': 'orange', 'shape': 'circle', 'size': '2 meter', 'material': 'plastic'}

In [11]:
info={
    'fact 1':'all keys in a dictionary should be unique',
    'fact 2':'keys are immutable so only strings and tuples are allowed as keys',
    'fact 3':'value of a key can be of any type -> str,number,list,dict'
}
print(info)

{'fact 1': 'all keys in a dictionary should be unique', 'fact 2': 'keys are immutable so only strings and tuples are allowed as keys', 'fact 3': 'value of a key can be of any type -> str,number,list,dict'}

In [ ]:
product={
    'name':'mobile',   #string
    'price':'99999',   #number 
    'features':{'camera':'48 MP','os':18,'Ram':'8 gb'},#dict
    'brand':'apple',
    'model':'Iphone 18',
    'popular':True,     #bool
    'value for money':False,
    'colors':['orange','black','blue','white']    #list
    
}
print(product)

{'name': 'mobile', 'price': '99999', 'features': {'camera': '48 MP', 'os': 18, 'Ram': '8 gb'}, 'brand': 'apple', 'model': 'Iphone 18', 'popular': True, 'value for money': False, 'colors': ['orange', 'black', 'blue', 'white']}

In [12]:
product['price']

'99999'

In [ ]:
product['discount']#error

In [14]:
product['features']

{'camera': '48 MP', 'os': 18, 'Ram': '8 gb'}

In [ ]:
product.keys()#all the key

dict_keys(['name', 'price', 'features', 'brand', 'model', 'popular', 'value for money', 'colors'])

In [ ]:
product.values()#all the values from dict

In [16]:
product['model']

'Iphone 18'

In [ ]:
print(product.get('model'))
print(product.get('features'))
print(product.get('price'))
print(product.get('discount'))   #this is not in the dict but error will come
print(product.get('feature'))

Iphone 18
{'camera': '48 MP', 'os': 18, 'Ram': '8 gb'}
99999
None
None

In [21]:
d['name']="william shakespeare"
print(d)
d['bookd']=['julias ceaser','merchant of venice']
print(d)
d['born']="April 1564"
d['died']='april 1616'
d['overview']='''A english playwright,poet and actor,
"Regarded as the greatest writer in english'''
print(d)

{'name': 'william shakespeare'}
{'name': 'william shakespeare', 'bookd': ['julias ceaser', 'merchant of venice']}
{'name': 'william shakespeare', 'bookd': ['julias ceaser', 'merchant of venice'], 'born': 'April 1564', 'died': 'april 1616', 'overview': 'A english playwright,poet and actor,\n"Regarded as the greatest writer in english'}

In [12]:
s="once upon a time"
s2=s.replace('once','twice')
print(s,s2)
s3=s.replace('e','l')
print(s3)

once upon a time twice upon a time
oncl upon a timl

In [2]:
#replace for reomving content
data='py#t#h#o#n'
cleaned_data=data.replace('#','')
print(data,cleaned_data,sep='\n')

py#t#h#o#n
python

In [23]:
#find/index

m="alpine mountain range"
print(m.find('mountain'))
print(m.find('lion'))
print(m.find('pine'))
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

In [ ]:
=input('enter value')
if int(n)%2==0:
    print('even')
else:
    print('odd')

even